.Navbar {
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: #949494d7;
    z-index: 5;
    border-bottom: 1px solid #000;

}

.LargeScreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SmallScreen {
    display: none;
    justify-content: space-between;
    padding-bottom: 25px;
}

@media screen and (max-width: 600px) {
    .LargeScreen {
        display: none;
    }
    .SmallScreen {
        display: flex;
    }
    .Navbar {
        bottom: 0;
        border-top: 1px solid #000;
        border-bottom: none;
    }
}

/* LARGE SCREEN */
.LargeSocial {
    width: auto;
    padding-inline: 15px;
    height: 50px;
    grid-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LargeSocial a {
    font-size: xx-large;
    color: #000;
    text-decoration: none;
}
.LargeSocial a:hover {
    transition: 0.3s;
    transform: scale(1.1);
}
.LargeUser p{
    font-size: large;
}

.LargeAccount {
    width: auto;
    height: 50px;
    padding-inline: 10px;
    grid-gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.LargeAccount button {
    cursor: pointer;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

/* SMALL SCREEN */
.SmallSocial {
    width: auto;
    padding-inline: 15px;
    height: 50px;
    grid-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SmallSocial a {
    font-size: xx-large;
    color: #000;
    text-decoration: none;
}
.SmallSocial a:hover {
    transition: 0.3s;
    transform: scale(1.1);
}
.SmallUser p{
    font-size: large;
}

.SmallAccount {
    width: auto;
    height: 50px;
    padding-inline: 10px;
    grid-gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.SmallAccount button {
    cursor: pointer;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}